<head>
  <link
    href="{{ url_for('static', filename='Search.css') }}"
    rel="stylesheet"
    type="text/css"
  />
  <script src="{{url_for('static', filename='Search.js')}}"></script>
</head>
<body>
  <form action="/Result" method="POST">
    <header>
      <h2>Price Comparison Website</h2>
      <p>
        <input type="text" name="mTextSearch" />
        <input type="submit" value="Search" />
      </p>
    </header>
    <div class="content">
      <div class="sidebar1">
        <nav>
          <div class="filter">
            <div class="models">
              {% for mWeb in mWebSearch %}
                <div class="checkbox">
                  {% if loop.index0 in mSelected %}
                    <label><input type="checkbox" name="mWeb" value={{loop.index0}} rel={{mWeb}} onchange="change();" checked/>{{mWeb}}</label>
                  {% else %}
                    <label><input type="checkbox" name="mWeb" value={{loop.index0}} rel={{mWeb}} onchange="change();"/>{{mWeb}}</label>
                  {% endif %}
                </div>
              {% endfor %}              
            </div>
          </div>
        </nav>
      </div>
      <article>
        <div id="main">{% block Result %} {% endblock %}</div>
      </article>
    </div>
  </form>
</body>
